<!doctype html>
<html lang="en">
{% include head.html %}

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="https://www.engineering.columbia.edu/">
        <img src="/assets/img/icons/cu-eng-logo.png" alt="AMPS" height="28">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBlog">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navBlog">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="/#events">Events</a></li>
          <li class="nav-item"><a class="nav-link" href="/#board">Board</a></li>
          <li class="nav-item"><a class="nav-link" href="/#resources">Resources</a></li>
          <li class="nav-item"><a class="nav-link active" href="/blog/">News</a></li>
          <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="py-5 bg-light border-bottom">
    <div class="container">
      <h1 class="display-6 mb-0">{{ page.title }}</h1>
    </div>
  </header>

  <main class="container my-5">
    {{ content }}
  </main>

  {% include footer.html %}
</body>

</html>